<mat-toolbar>
    <a mat-button (click)="sidenav.open()" routerLink="."><mat-icon>reorder</mat-icon></a> 
       SwapCorp
       <ul class="nav navbar-nav  nav-cust-right" >
          <!-- <li class="active"><a class="acolor" routerLink="home" >Home</a></li>
          <li><a  class="acolor" routerLink="aboutus">About Us</a></li>
          <li><a href="#" class="acolor">Careers</a></li>
          <li><a href="#" class="acolor">Contact Us</a></li> -->
          <li>
              <button mat-icon-button [matMenuTriggerFor]="menu" class="window">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item [routerLink]="['/signin']">
                    <mat-icon>person pin</mat-icon>
                    <span>Sign In</span>
                  </button>
                  <button mat-menu-item  [routerLink]="['/register']">
                    <mat-icon>create</mat-icon>
                    <span>Register</span>
                  </button>            
              </mat-menu>
          </li>
        </ul>
</mat-toolbar> 

<div>
  <router-outlet>
      <!-- <app-home></app-home> -->
  </router-outlet>
</div>